@import '../../sass/partials/colors';
@import "../../sass/partials/mixins";

.intro_section{
  padding: 5rem 0;

  &_header{
    font-size: 3rem;
    margin-bottom: 2rem;
    @include respondMax(sm){
      font-size: 2rem;
    }
  }

  &_figure{
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
    border-radius: 10px;
    background-color: $secondary-color;

    figcaption{
      background-color: #222;
      color: #fff;
      font: italic smaller sans-serif;
      padding: 7px;
      text-align: center;
      font-weight: bold;
    }
  }

  &_image{
    background-color: $color-white;
    border: thin #c0c0c0 solid;
    width: 500px;
    height: 480px;
    @include respondMax(sm){
      width: 100%;
      height: 100%;
    }
    object-fit: contain;
  }

  &_text{
    line-height: 1.9rem;
    text-align: justify;
  }
}